<div class="container">
  <h3>Payment Form</h3>

  <div class="row">
    <div class="form-group col">
      <label >Payee name</label>
      <input class='form-control' (input)="onNameChange($any($event.target).value)">
    </div>

    <div class="col">
      <label><b>Name</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label >Height</label>
      <input type='date' class='form-control' (input)="onHeightChange($any($event.target).value)">
    </div>

    <div class="col">
      <label><b>Payment Date</b></label>
      <div>
        <h4>{{ date | date: "MMMM d, y" }}</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label >Payment Amount</label>
      <input type='text' class='form-control' (input)="onAmountChange($any($event.target).value)">
    </div>

    <div class="col">
      <label><b>PaymentAmount</b></label>
      <div> 
        <h4>{{ amount | currency: 'JPY' }}</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label >Height</label>
      <input type='text' class='form-control' (input)="onHeightChange($any($event.target).value)">
    </div>

    <div class="col">
      <label><b>Height</b></label>
      <div> 
        <h4 *ngIf="height">{{ height | number: '1.2-2' }}</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label >Miles</label>
      <input type='text' class='form-control' (input)="onMilesChange($any($event.target).value)">
    </div>

    <div class="col">
      <label><b>Kilometers</b></label>
      <div *ngIf="(miles | convert: 'km') > 10"> 
        <h4>{{ miles | convert: 'cm' }}</h4>
      </div>
    </div>
  </div>
  

</div>